body {
    background: url('ruta/de/imagen/textura.jpg') center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

 .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; /* Alinea el texto al centro
}



button {
    background-color: transparent;
    color: #50ddf0;
    border: 2px solid #00bcd4; /* Azul futurista */
    border-radius: 20px; /* Borde redondeado */
    padding: 15px 30px; /* Tamaño uniforme */
    margin: 5px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    font-size: 16px;
    cursor: pointer;
    outline: none; /* Eliminar el contorno al hacer clic */
    font-weight: bold;
    width: calc(33.33% - 10px); /* Tamaño de botón en filas de tres con 10px de espacio entre ellos */
}

button:hover {
    transform: scale(1.1);
    background-color: #00bcd4; /* Cambia el fondo al color de los botones al pasar el ratón */
    color: #fbfdfd;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #00bcd4, #0181a4); /* Gradiente azul futurista */
    z-index: -1;
    transition: transform 0.5s;
    transform: scaleX(0);
    transform-origin: bottom right;
}

button:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Estilos adicionales para la etiqueta <a> */
a {
    text-decoration: none; /* Eliminar subrayado predeterminado */
    color: #fbfdfd; /* Color del enlace */
    transition: color 0.3s; /* Transición de color al pasar el ratón */
}

a:hover {
    color: #0181a4; /* Nuevo color al pasar el ratón */
}

.button-link {
    text-decoration: none;
    color: #fbfdfd; /* Hereda el color del texto del contenedor padre (el botón) */
    display: inline-block; /* Alinea el enlace en línea con el contenido del botón */
    width: 100%; /* Ocupa todo el ancho del botón */
    height: 100%; /* Ocupa todo el alto del botón */
}

 .register-buttons {
    text-align: left;
    flex-direction: column;
}

.view-buttons {
    text-align: right;
}


